<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">[%d{yyyy-MM-dd HH:mm:ss}] [%t] [%highlight{%-5level}] %logger{36}.%M(%F:%L) - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
    <CustomLevels>
        <Include file="log4j2-base.xml"/>
        <Include file="log4j2-aop.xml"/>
    </CustomLevels>
</Configuration>
